#app {
 font-family: "Poppins", sans-serif !important;
}

nav {
 padding: 30px;
}

nav a {
 /* font-weight: bold; */
 color: #2c3e50;
}

nav a.router-link-exact-active {
 color: #7442b9ff;
 font-weight: 700;
 font-style: normal;
}

.poppins-thin {
 font-family: "Poppins", sans-serif;
 font-weight: 100;
 font-style: normal;
}

.poppins-extralight {
 font-family: "Poppins", sans-serif;
 font-weight: 200;
 font-style: normal;
}

.poppins-light {
 font-family: "Poppins", sans-serif;
 font-weight: 300;
 font-style: normal;
}

.poppins-regular {
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 font-style: normal;
}

.poppins-medium {
 font-family: "Poppins", sans-serif;
 font-weight: 500;
 font-style: normal;
}

.poppins-semibold {
 font-family: "Poppins", sans-serif;
 font-weight: 600;
 font-style: normal;
}

.poppins-bold {
 font-family: "Poppins", sans-serif;
 font-weight: 700;
 font-style: normal;
}

.poppins-extrabold {
 font-family: "Poppins", sans-serif;
 font-weight: 800;
 font-style: normal;
}

.poppins-black {
 font-family: "Poppins", sans-serif;
 font-weight: 900;
 font-style: normal;
}

.poppins-thin-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 100;
 font-style: italic;
}

.poppins-extralight-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 200;
 font-style: italic;
}

.poppins-light-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 300;
 font-style: italic;
}

.poppins-regular-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 400;
 font-style: italic;
}

.poppins-medium-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 500;
 font-style: italic;
}

.poppins-semibold-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 600;
 font-style: italic;
}

.poppins-bold-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 700;
 font-style: italic;
}

.poppins-extrabold-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 800;
 font-style: italic;
}

.poppins-black-italic {
 font-family: "Poppins", sans-serif;
 font-weight: 900;
 font-style: italic;
}

.border-custom {
 border-radius: 1.1rem !important;
 -webkit-border-radius: 1.1rem !important;
 -moz-border-radius: 1.1rem !important;
 -ms-border-radius: 1.1rem !important;
 -o-border-radius: 1.1rem !important;
}

.card:hover {
 border-radius: 1.1rem !important;
 -webkit-border-radius: 1.1rem !important;
 -moz-border-radius: 1.1rem !important;
 -ms-border-radius: 1.1rem !important;
 -o-border-radius: 1.1rem !important;
 filter: drop-shadow(0 25px 25px rgb(0 23 0 / 0.15));
 -webkit-filter: drop-shadow(0 25px 25px rgb(0 23 0 / 0.15));
}
.card {
 transition-duration: 1000ms !important;
}
